a {
	text-decoration: none;
	color: #92959e;
}

.Navbar {
	color: #92959e;
	padding: 10px 10px;
	display: flex;
	background-color: #f6f6f6;
	justify-content: center;
}

.Navbar__content {
	width: 100%;
	max-width: 1024px;
}

.nav {
	cursor: pointer;
}
