.Order__home {
	display: flex;
	margin: 0 auto;
	width: 80%;
	height: 100vh;
	justify-content: center;
}

.Order__categories {
	display: flex;
	justify-content: start;
	flex-direction: column;
	border-right: 1.5px solid #e7e8eb;
	align-items: flex-end;
	padding-top: 20px;
	flex-grow: 1;
}

.Order__category {
	font-size: 14px;
	padding-right: 10px;
	cursor: pointer;
	margin-bottom: 12px;
}

.Order__category-selected {
	border-right: 5px solid #00c08b;
	color: #00c08b;
	font-weight: bold;
}

.Order__items {
	width: 70%;
	flex-grow: 1;
	overflow: auto;
}

.Order__item__category {
	font-size: 24px;
	font-weight: bold;
	background-color: #f3f3f5;
	margin: 5px 0px;
	padding: 10px 10px;
}

.Order__item__details {
	margin: 25px 10px;
}

.Order__item__line {
	display: flex;
	justify-content: space-between;
}

.Order__item__line_left {
	display: flex;
}

.Order__item__type {
	margin-right: 10px;
}

.Order__item__type img {
	height: 15px;
	width: 15px;
}

.Order__item__name {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.Order__item__price {
	margin-left: 25px;
}
