.Stores__content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Stores__content_body {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	max-width: 1024px;
}

.Stores__content img {
	height: 100%;
	width: 100px;
}

.Stores__list {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	column-gap: 200px;
}

.Stores__count {
	display: flex;
	height: 100px;
	margin: 30px;
}

.Stores__count__right {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.Stores__count__right h2,
h5 {
	margin: 0px;
}
