.Stores__content {
	display: flex;
	justify-content: center;
}

.Stores__list {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	flex-wrap: wrap;
	max-width: 1024px;
}
